<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

    <script type="text/ng-template" id="_map.html">
        <div id="input">
            <label for="long">longtitude:</label>
            <input type="text" id="long" ng-model="longitude">
            <label for="lati">lantitude:</label>
            <input type="text" id="lati" ng-model="latitude">
            <input type="button" value="submit" ng-click="updateMap()">
        </div>
    </script>
    <style>
        body,html,#map{
            height:100%;
            margin:0;
            padding:0;
        }
        #input{
            padding: 20px;
        }
    </style>
    <script>
        angular.module('myApp',[]).controller('myController',function($scope,Map){

        }).directive('myMap',function(Map){
            return {
                templateUrl:'_map.html',
                scope:{
                },
                link:function(scope,element,attribute){
                    function init(){
                        navigator.geolocation.getCurrentPosition(function(position){
                            scope.latitude = position.coords.latitude;
                            scope.longitude = position.coords.longitude;
                            scope.$digest();
                            scope.$apply(function(){
                                Map.getMap(scope.latitude,scope.longitude);
                            })

                        });
                    }
                    google.maps.event.addDomListener(window, 'load', init);

                    scope.updateMap = function(){
                        console.log(typeof scope.latitude);
                        Map.getMap(parseFloat(scope.latitude),parseFloat(scope.longitude));
                    }

                }
            }
        }).factory('Map',function(){
            return {
                getMap:function(lati,long){
                    var mapOption = {
                        center:{lat:lati,lng:long},
                        zoom:4
                    };
                    var map = new google.maps.Map(document.getElementById('map'), mapOption);
                    var myLatLong = new google.maps.LatLng(lati,long);
                    var marker = new google.maps.Marker({position:myLatLong,map:map});
                }
            }
        })
    </script>

</head>
<body ng-controller="myController">
    <div my-map>

    </div>
    <div id="map"></div>
</body>
</html>